:root {
  --light-green: #606C38;
  --dark-green: #283618;
  --white: #FEFAE0;
  --light-orange: #DDA15E;
  --light-orange: #BC6C25;
}

@font-face {
  font-family: 'Signika';
  src: url('../Fonts/Signika-VariableFont_GRAD,wght.ttf')  format('truetype')
}

@font-face {
  font-family: 'Courier New';
  src: url('../Fonts/cour.ttf')  format('truetype')
}

html,
body {
  padding: 0;
  margin: 0 0 0 2.4em;
  font-family: 'Courier New', monospace;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 400;
  max-width: calc(100vw - 3em);
  background-color: var(--white);
  overflow-x: hidden;
}

h1 {
  font-family: 'Signika', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}

h2 {
  font-family: 'Signika', sans-serif;
  font-size: 2em;
  font-weight: 200;
}

h3 {
  font-family: 'Signika', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.container {
  width: calc(100vw - 5em);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  text-align: right !important;
}
