:root {
  --orange: #D46F42;
  --green: #3E522D;
  --brown: #7D573D;
  --gray: #A39E9E;
  --white: #F2EAD2;

  /* Cozy and Inviting: */
  /* --beige: #F5E6CC;
  --brown: #9C715E;
  --red: #B3504B;
  --green: #5D704B;
  --white: #F4F1DE; */

  /* Organic and natural: */
  /* --brown: #7F5A4B;
  --green: #687C66;
  --olive: #A19F75;
  --gray: #8E8C88;
  --white: #F4EEDF; */
}

@font-face {
  font-family: 'Signika';
  src: url('../Fonts/Signika-VariableFont_GRAD,wght.ttf')  format('truetype')
}

@font-face {
  font-family: 'Courier New';
  src: url('../Fonts/cour.ttf')  format('truetype')
}

html,
body {
  padding: 0;
  margin: 0 0 0 2.4em;
  font-family: 'Courier New', monospace;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 400;
  max-width: calc(100vw - 3em);
  background-color: var(--white);
  overflow-x: hidden;
}

h1 {
  font-family: 'Signika', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: var(--green) !important; 
}

h2 {
  font-family: 'Signika', sans-serif;
  font-size: 2em;
  font-weight: 200;
}

h3 {
  font-family: 'Signika', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.container {
  width: calc(100vw - 5em);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  text-align: right !important;
}
