/* =============================== navbar ========================== */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100vh - 2em);
  padding: 1em;
  background-color: var(--dark-green);
  color: var(--white);
  width: 3rem;
  z-index: 50;
}

.navbar a {
  text-decoration: none;
}

.navbar li {
  list-style: none;
}

.navLinks a {
  color: var(--white);
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0;
} 

.menu {
  display: flex;
  position: fixed;
  gap: 1em;
  font-size: 1em;
  background-color: var(--dark-green);
  left: -40vw; 
  top: 0;
  text-align: center;
  padding: 1em 4em;
  z-index: 50;
  height: calc(100vh - 2em);
  width: 20vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  transition: left 0.3s ease, opacity 0.3s ease; 
}

.showMenu {
  left: 0; 
  opacity: 1; 
}

.menu li:hover {
  text-decoration: underline;
  transition: 1s ease;
  display: inline-block;
}

.menu li {
  padding: 0.5em 1em;
}

.menu li + li {
  margin-top: 0.5em;
}

.navLinks input[type=checkbox] {
  display: none;
  margin: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}

#checkbox_toggle:checked ~ #menu {
  display: block;
}

.logo {
  max-width: 3em;
  position: absolute;
  z-index: 1000;
  left: 0.7em;
  top: 1em;
}

.hamburger {
  font-size: 2.5em;
  user-select: none;
  position: absolute;
  z-index: 1000;
  top: 50%;
}

.hamburger:hover {
  cursor: pointer;
}

/* ============================= title section =============================== */

.titleContainer {
  display: flex;
  height: 100vh;
  max-width: 100vw;
}

.imageContainer {
  flex: 1;
  position: relative;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--white); 
  padding: 15vh 8vw;
  max-width: 39vw;
  text-align: left;
  position: relative;
}

.title {
  font-size: 4em;
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--light-green);
}

.subtitle {
  text-align: right;
}

.titleLogo {
  position: absolute;
  bottom: 35vh;
  right: 5vw;
  width: 30vw;
}

.headerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================================ blurb/intro ================================= */

.blurbContainer {
  height: 60vh;
}

.blurb {
  width: 60vw;
  margin-bottom: 3em;
}

.blurbContact {
  margin-bottom: 2em;
  font-size: 0.8em;
}

.horizontalLine {
  height: 3px;
  width: 60vw;
  border-bottom: 1px solid var(--light-green); 
}